<h1>Editing Idea</h1>
<div class = "container form" style="margin-top:1%;background-color:rgba(255,255,255,.6);width:400px">

  <%= render 'form' %>

  <%= link_to 'Show', @idea %> |
  <%= link_to 'Back', ideas_path %>
</div>
