<div class="container">
  <h1>Listing Ideas</h1>
  <h3><%= link_to 'New Idea', new_idea_path %></h3>

  <%= render "idea" %>

</div>

<!--background image -->
<div class = "bk2">
  <div class = "trans6" style="width:100%;height:100%;">
  </div>
</div>
