<h1>Profiles</h1>
<% @users.each do |u| %>
<div class =  "bg-info col-md-8 col-md-offset-2" style = "margin-top: 10px;">
  <div class="page-header">
    <%= link_to u.first_name+" "+u.last_name, user_path(u.username) %>
    <%= u.email %>
    <%= u.bio %>
  </div>
</div>
<% end %>
