<div class="bk">

</div>
<div class="row">
  <h1 class="id_toupetext" style="text-align:center;font-size:72px;">About Us</h1>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="thumbnail">
          <div class="caption">
            <h3 class="id_dcyantext" style="text-algin:center;">Our Team</h3>
            <p>
              It all started when Myron was doing some consulting work for small business development center where he saw a lot of entrepreneurs coming up with awesome ideas but lacks the skills and people to execute. We interviewed a lot you guys on campus to see what you really needed to make your entrepreneurship career as easy as possible, whether it is finding a cofounder or a part-time helper, or ideas to work on!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="thumbnail">
          <%= image_tag("Myron.jpg", width:"100%", alt:"Myron") %>
          <div class="caption">
            <h3>Myron Leung</h3>
            <b>Mastermind and Chief Strategist of IdeaDeck</b>
            <br>He makes the site beautiful and easy to use.
            <br>Loves building things... literally, he puts together chairs and tables in his free time.
            <br>League of Legends
            <br>Incoming consultant at PWC
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="thumbnail">
          <%= image_tag("Duc.jpg", width:"100%", alt:"Myron") %>
          <div class="caption">
            <h3>Duc Do</h3>
            <b>Scientist of IdeaDeck</b>
            <br>He makes sure you guys are happy!
            <br>He’s into Real estate and finance... totally qualified to help run a tech startup...
            <br>Fluffy animal person
            <br>Soccer… He can play for hours... even alone...
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="thumbnail">
          <%= image_tag("Albert.jpg", width:"100%", alt:"Myron") %>
          <div class="caption">
            <h3>Albert Guo</h3>
            <b>Technician of IdeaDeck</b>
            <br>He makes sure that the functionality of website is solid
            <br>Coding is therapeutic
            <br>Math = Breakfast
            <br>Traveling! Finally! Something relatable! haha
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="thumbnail white">
          <div class="caption">
            <h3 class="id_dcyantext">Contact Us</h3>
            <p>
              Contact us at contact@ideadeck.me
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
