<div style="font-family:Open Sans; font-size:72px;">
  <h1 class = "center darkCyan" style="margin-top:15%;">Let's Build Something.<br><span class = "orange">Awesome.<span><br><span class = "red">Together.</span></h1>
</div>

<div class = "row" style="height: 100px; margin-bottom:20px;">
  <%= link_to users_path do %>
      <div class = "col-md-4 bk_darkCyan center toupe browsebtn" style="height:100%;padding-top:20px;font-size:20px;">
        Discover People
      </div>
  <% end %>
  <%= link_to ideas_path do %>
    <div class = "col-md-4 bk_red center toupe browsebtn" style="height:100%;padding-top:20px;font-size:20px;">
      Discover Ideas
    </div>
  <% end %>
  <%= link_to ideas_path do %>
    <div class = "col-md-4 bk_orange center toupe browsebtn" style="height:100%;padding-top:20px;font-size:20px;">
      Community
    </div>
  <% end %>
</div>
<div class="row">
</div>
  <div class = "row" style = "margin-top:20px;">
    <div class = "col-md-2"></div>
    <div class = "col-md-4 r_annot trans10"style="padding:20px;">
      <h4 class="center">Simon Sinek - Start and Why: How great leaders inspire action</h4>
      <br>
      <p>This is one of Myron's favorite TED Talks. This thought process is a lot of what our thought process is founded upon. Not only that, it is also what we believe our users should strive for in showing their profiles as well.</p>
    </div>
    <div class = "col-md-4 center" style="padding:0px;"><iframe width=100% height="310" src="https://www.youtube.com/embed/u4ZoJKF_VuA" frameborder="0" allowfullscreen></iframe></div>
    <div class = "col-md-2"></div>
  </div>

  <div class = "row">
    <div class = "col-md-2"></div>
    <div class = "col-md-4 r_annot trans10"style="padding:20px;">
      <h4 class="center">Bill Gross - The single biggest reason why startups succeed.</h4  >
      <br>
      <p>This is a very interesting piece on startups that might be interesting to take a look at. It's a little insightful, and lets you know if you're on track.</p>
    </div>
    <div class = "col-md-4 center" style="padding:0px;"><iframe width=100% height="310" src="https://www.youtube.com/embed/bNpx7gpSqbY" frameborder="0" allowfullscreen></iframe></div>
    <div class = "col-md-2"></div>
  </div>

  <div class = "row">
    <div class = "col-md-12" style="height:100px;"></div>
  </div>
</div>

<div class = "bk">
  <div class = "trans6" style="height:100%;width:100%;">
  </div>
</div>
