
<div class = "center" style="margin-top:10%; margin-bottom:20%;width:500px;">
  <div id = "welcome">
    <h1 class="center" style="margin-bottom:0px;background-color:transparent;">Welcome to IdeaDeck</h1>
    <%= link_to ideas_path do %><div id="left" class="browsebtn center">Browse for <span class = "red">Ideas</span></div><% end %>
    <%= link_to users_path do %><div id="right" class="browsebtn center">Browse for <span class = "red">People</span></div><% end %>
  </div>
</div>

  <div class"row" style="height:200px"></div>


  <div class = "row">
    <div class = "center" style="background-color: rgba(245,165,3,1);font-size:20px;color:rgba(233,241,233,1); width:100%; height:100px;">
      <p>Checkout our community!</p>
    </div>
  </div>

  <div class = "row" style = "margin-top:20px;">
    <div class = "col-md-2"></div>
    <div class = "col-md-4 r_annot trans10"style="padding:20px;">
      <h4 class="center">Simon Sinek - Start and Why: How great leaders inspire action</h4>
      <br>
      <p>This is one of Myron's favorite TED Talks. This thought process is a lot of what our thought process is founded upon. Not only that, it is also what we believe our users should strive for in showing their profiles as well.</p>
    </div>
    <div class = "col-md-4 center" style="padding:0px;"><iframe width=100% height="310" src="https://www.youtube.com/embed/u4ZoJKF_VuA" frameborder="0" allowfullscreen></iframe></div>
    <div class = "col-md-2"></div>
  </div>

  <div class = "row">
    <div class = "col-md-2"></div>
    <div class = "col-md-4 r_annot trans10"style="padding:20px;">
      <h4 class="center">Bill Gross - The single biggest reason why startups succeed.</h4  >
      <br>
      <p>This is a very interesting piece on startups that might be interesting to take a look at. It's a little insightful, and lets you know if you're on track.</p>
    </div>
    <div class = "col-md-4 center" style="padding:0px;"><iframe width=100% height="310" src="https://www.youtube.com/embed/bNpx7gpSqbY" frameborder="0" allowfullscreen></iframe></div>
    <div class = "col-md-2"></div>
  </div>

  <div class = "row">
    <div class = "col-md-12" style="height:100px;"></div>
  </div>
</div>
<!--background image-->
<div class = "bk">
  <div class = "trans3" style="width:100%;height:100%;">
  </div>
</div>
