<div>
  <div id = "welcome">
    <h1 class="center" style="margin-bottom:0px;background-color:transparent;">Welcome to IdeaDeck</h1>
    <%= link_to ideas_path do %><div id="left" class="browsebtn center">Browse for <span class = "red">Ideas</span></div><% end %>
    <%= link_to users_path do %><div id="right" class="browsebtn center">Browse for <span class = "red">People</span></div><% end %>
  </div>
</div>

<div  class = "section center" style="background-color: rgba(245,165,3,.8);font-size:20px;color:rgba(233,241,233,.9);">
  Content Coming Soon!
</div>

<div class = "section" style="height:800px;">

</div>

<!--background image-->
<div class = "bk">
  <div class = "trans3" style="width:100%;height:100%;">
  </div>
</div>
