// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bk {
  background-image:url(mac.jpeg);
  background-size: 100% auto;
  width: auto;
}
.center{
  margin: auto;
}
#welcome{
  display: inline-block;
  padding: 50px;
  border-radius: 10px;
}
.trans{
  background-color: rgba(255,255,255,.8)
}
#wel{
  font: helvetica;
  padding: 20px;
}
